.no-data {
  text-align: center;
  margin-top: 20px;
  font-size: 1.2em;
  color: #888; /* Cor de texto bonita e suave */
}

.no-data p {
  background: #f8f8f8;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
}
