.university-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    background-color: #ffffff;
    transition: box-shadow 0.3s, border-color 0.3s;
    margin-bottom: 8px; // Space between cards
    cursor: pointer;

    &:hover {
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        border-color: #4864e1;
    }

    .logo {
        flex-shrink: 0; // Prevent the logo from shrinking
        margin-right: 16px;

        img {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 50%;
        }
    }

    .details {
        flex-grow: 1; // Allow details to take available space

        .name {
            margin: 0;
            font-size: 16px;
            font-weight: bold;
            color: #333;
        }

        .description {
            margin: 0;
            font-size: 14px;
            color: #666;
        }
    }

    .contact-info {
        margin-right: 40px;
        display: flex;
        gap: 16px;

        .info-item {
            display: flex;
            align-items: center;
            gap: 8px;

            .icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 32px;
                height: 32px;
                background-color: #ebebef;
                border-radius: 50%;

                img {
                    width: 16px;
                    height: 16px;
                }
            }

            span {
                font-size: 14px;
                color: #333;
            }
        }

    }

    .container-estado {
        display: flex;
        width: 200px;
        align-items: start;
        .estado {
            padding: 8px 16px;
            font-size: 14px;
            font-weight: 500;

            &.estado-vinculado {
                background-color: rgba(72, 100, 225, 0.1);
                color: #4864e1;
            }

            &.estado-inativo {
                background-color: rgba(255, 99, 71, 0.1);
                color: #ff6347;
            }

            &.estado-suspenso {
                background-color: rgba(255, 165, 0, 0.1);
                color: #ffa500;
            }
        }
    }


    .navigate {
        flex-shrink: 0; // Prevent shrinking
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ebebef;
        margin-left: 16px;

        img {
            width: 16px;
            height: 16px;
            filter: brightness(0.5);
        }
    }
}