<!-- search-bar.component.html -->
<div class="search-bar">
  <div class="filter" [formGroup]="searchForm">
    <ng-container *ngFor="let filter of filters">
      <p-iconfield *ngIf="filter.type === 'text'">
        <p-inputicon styleClass="pi pi-search"></p-inputicon>
        <input type="text" pInputText [placeholder]="filter.placeholder" [formControlName]="filter.controlName" />
      </p-iconfield>
      <p-select
        *ngIf="filter.type === 'dropdown'"
        [options]="filter.options || []"
        [formControlName]="filter.controlName"
        [optionLabel]="filter.optionLabel"
        [optionValue]="filter.optionValue"
        [placeholder]="filter.placeholder"
        class="w-full md:w-56"
      ></p-select>
    </ng-container>
  </div>

 <div class="button-container" style="display: flex;gap:5px;">
    <ng-container *ngIf="showPrimaryBtn">
      <p-button styleClass="primary-button" (onClick)="primaryBtnClick()">
        <ng-container *ngIf="primaryBtnIcon; else defaultIcon">{{ primaryBtnIcon }}</ng-container>
        <ng-template #defaultIcon>
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 8V16M8 12H16M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
        </ng-template>
        {{ primaryBtnLabel }}
      </p-button>
    </ng-container>

    <ng-container *ngIf="showSecondBtn">
      <p-button styleClass="secondary-button b-radius-0" (onClick)="secondBtnClick()">
        <ng-container *ngIf="secondBtnIcon; else defaultSecondIcon">{{ secondBtnIcon }}</ng-container>
        <ng-template #defaultSecondIcon>
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 8V16M8 12H16M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
        </ng-template>
        {{ secondBtnLabel }}
      </p-button>
    </ng-container>
  </div>
</div>
