/* You can add global styles to this file, and also import other style files */
@charset "utf-8";
/*
==========================================
   Imported styles
==========================================
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/**
* -----------------------------------------------------------------------------
*
* Template : Coral Monte Sinai
* Author : Olualinet
* Author URI : https://olualinet.ao/
* Version: 1.0
**/
/* -----------------------------------
    01. General CSS
-------------------------------------*/
html,
body {
  font-size: 14px;
  color: #545454;
  font-family: 'Roboto', sans-serif;
  vertical-align: baseline;
  line-height: 1.7;
  font-weight: 400;
  overflow-x: hidden;
}
img {
  max-width: 100%;
  height: auto;
}
p {
  margin: 0 0 26px;
  line-height: 1.8;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  color: #0a0a0a;
  margin: 0 0 26px;
  line-height: 1.2;
}
h1 {
  font-size: 52px;
  line-height: 62px;
  font-weight: 700;
}
h2 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
}
h3 {
  font-size: 28px;
  line-height: 42px;
  font-weight: 700;
}
h4 {
  font-size: 26px;
  line-height: 36px;
  font-weight: 700;
}
h5 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}
h6 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
}
.text-md-left {
  text-align: left;
}
.text-md-right {
  text-align: right;
}
.text-right {
  text-align: right;
}
.no-border {
  border: none !important;
}
.title-color {
  color: #0a0a0a !important;
}
.body-color {
  color: #454545 !important;
}
.white-bg {
  background: #fff;
}
.primary-color2 {
  color: #14948e !important;
}
.primary-bd2 {
  background: #14948e !important;
}
a {
  color: #14948e;
  transition: all 0.3s ease;
  text-decoration: none !important;
  outline: none !important;
}
a:active,
a:hover {
  text-decoration: none;
  outline: 0 none;
  color: #14948e;
}
ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.clear {
  clear: both;
}
::-moz-selection {
  background: #14948e;
  text-shadow: none;
  color: #ffffff;
}
::selection {
  background: #14948e;
  text-shadow: none;
  color: #ffffff;
}
