<div class="page-header">
    <div class="left-area">
        <span class="title">Concursos</span>
        <span class="sub-title">Ministério dos Recursos Minerais, Petróleo e Gás </span>
    </div>
    <div class="indicator">
        <div class="icon">
            <img src="icons/user-minus-01.svg" alt="Country Icon" />
        </div>
        <div class="text-bg">
            <span>09 Concursos</span>
        </div>
    </div>
</div>

<app-search-bar primaryBtnLabel="Novo concurso" (onPrimaryBtnClick)="cadastrarConcurso()"></app-search-bar>

<app-lista-concursos/>